<div ng-include="'components/navbar/navbar.html'"></div>

<div class='container'>
    <div class='row'>
        <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
            <ul>
                <li><a href='/profile/{{project[0].contributers[0]}}'>{{project[0].name}}</a></li>
                <li id=totTime>{{totsTime}}</li>
            </ul>
        </div>
        
        <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
            <form class='' role='search' ng-submit='inviteUser(addUser, role, project[0])' ng-hide='preview || !project[0].active'>
                <div class='form-group'>
                  <input type='text' class='form-control' placeholder='(User Email)' ng-model='addUser'>
                  <input type='radio' value='manager' ng-model=role>Manager
                  <input type='radio' value='contributer' ng-model=role> Contributer
                </div>
                <button type='submit' class='btn btn-info'>Add User to Project</span></button>
             </form>
             <button class='btn btn-success' ng-show='preview' ng-click='acceptInv(preview, getCurrentUser, project[0])'>Join Project as a {{preview.role}}</button>
             <button class='btn btn-danger' ng-show='preview' ng-click='declineInv(preview, project[0])'>Decline</button>
        </div>
    </div>
    
    
    <h1 id=curTime>Current Time is: 0:00</h1>
    <div id=buttonContainer ng-hide="!contrib || !project[0].active">
        <button id=timerStart class='btn btn-success' ng-click='startTimer(project[0], getCurrentUser)' ng-hide='project[0].timerOn'>Start</button>
        <button id=timerPause class='btn btn-warning' ng-click='pauseTimer(project[0])' ng-show='project[0].timerOn'>Pause</button>
        <button id=projClose class='btn btn-danger' ng-click='closeProject(project[0])'>Close Project</button>
    </div>
    
    <div class='row'>
        <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
            <h3>Messages</h3>
            <ol>
                <li ng-repeat='msg in project[0].messages track by $index'>{{msg[0]}}: {{formatCmtTime(msg[2])}} <br> &nbsp;&nbsp;&nbsp;&nbsp; {{msg[1]}}</li>
            </ol>
            <form ng-submit='sendMsg(project[0], newMsg, getCurrentUser)' ng-hide='preview || !project[0].active'>
               <textarea id='msgArea' class="form-control" rows="3" ng-model='newMsg'></textarea>
                <button class='btn btn-info'>Send</button>
            </form>
        </div>
        <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
            <h3>Past Timers</h3>
            <ol>
                <li ng-repeat='timer in project[0].timers track by $index' ng-bind='[timer.start, timer.end] | dateFormat'></li>
            </ol>
        </div>
    </div>
    
</div>