<div ng-include="'components/navbar/navbar.html'"></div>

<div class='container'>
    <form class='' role='search' ng-submit='createProj(newTitle, getCurrentUser)'>
        <div class='form-group'>
          <input id=titleInp type='text' class='form-control' placeholder='' ng-model='newTitle'>
        </div>
        <button type='submit' class='btn btn-success'>Create Project</span></button>
     </form>
    
    <ul id=tabs class="nav nav-tabs" role="tablist">
        <li id=project role="presentation" class="active"><a ng-click="changeArea('project')" aria-controls="home" role="tab" data-toggle="tab">Projects</a></li>
        <li id=manage role="presentation"><a ng-click="changeArea('manage')" aria-controls="profile" role="tab" data-toggle="tab">Managing Projects</a></li>
        <li id=invites role="presentation"><a ng-click="changeArea('invite')" aria-controls="messages" role="tab" data-toggle="tab">Invites</a></li>
    </ul>
    
    <div class='row'>
        <div class='col-md-8'>
            <div ng-show='projectView'>
                <h1>Contributing Projects</h1>
                <h3 dir-paginate='project in projects | itemsPerPage: 5' pagination-id='contribs'><a ng-href="/project/{{project['_id']}}">{{project.name}}</a></h3>
                <div id=pageControlHolder class='text-center' ng-show='projectView'>
                  <dir-pagination-controls pagination-id='contribs'></dir-pagination-controls>
                </div>
            </div>
            
            <div ng-show='manageView'>
                <h1>Managing Projects</h1>
                <h3 dir-paginate='project in managing | itemsPerPage: 5' pagination-id='manage'><a ng-href="/project/{{project['_id']}}">{{project.name}}</a></h3>
                <div id=pageControlHolder class='text-center' ng-show='manageView'>
                  <dir-pagination-controls pagination-id='manage'></dir-pagination-controls>
                </div>
            </div>
            
            <div ng-show='invView'>
                <h1>Invited Projects</h1>
                <h3 dir-paginate='project in invited | itemsPerPage: 5' pagination-id='invite'><a ng-href="/project/{{project['_id']}}">{{project.name}}</a></h3>
                <div id=pageControlHolder class='text-center' ng-show='invView'>
                  <dir-pagination-controls pagination-id='invite'></dir-pagination-controls>
                </div>
            </div>
        </div>
        <div class='col-md-4'>
            <h3>Recent Messages</h3>
            <ol>
                <li ng-repeat='msg in recentMsgs track by $index'><a href="/project/{{msg.projID}}">{{msg.project}}</a>: {{msg.user}}: {{formatCmtTime(msg.time)}} <br> &nbsp;&nbsp;&nbsp;&nbsp; {{msg.message}}</li>
            </ol>
        </div>
    </div>
    
</div>
